# This GitHub action can publish assets for release when a tag is created.
# Currently its setup to run on any tag that matches the pattern "v*" (ie. v0.1.0).
#
# This uses an action (hashicorp/ghaction-import-gpg) that assumes you set your
# private key in the `GPG_PRIVATE_KEY` secret and passphrase in the `GPG_PASSPHRASE`
# secret. If you would rather own your own GPG handling, please fork this action
# or use an alternative one for key handling.
#
# You will need to pass the `--batch` flag to `gpg` in your signing step
# in `goreleaser` to indicate this is being used in a non-interactive mode.
#
name: release
on:
  workflow_dispatch:
  push:
    tags: 'v*'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container: kraftkit.sh/myself-full:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Update packages
        run: |
          apt-get install -y --no-install-recommends jq

      - name: Fetch all tags
        run: |
          git config --global --add safe.directory /__w/packer-plugin-unikraft/packer-plugin-unikraft
          git fetch --force --tags

      - name: Describe plugin
        id: plugin_describe
        run: echo "::set-output name=api_version::$(go run . describe | jq -r '.api_version')"

      - name: Run GoReleaser
        run: |
          goreleaser build \
            --config .goreleaser.yml \
            --skip-validate
          goreleaser release \
            --config .goreleaser.yml \
            --clean --skip-validate \
            --skip-sign
        env:
          API_VERSION: ${{ steps.plugin_describe.outputs.api_version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNORE_CLIENT_ID: ${{ secrets.SIGNORE_CLIENT_ID }}
          SIGNORE_CLIENT_SECRET: ${{ secrets.SIGNORE_CLIENT_SECRET }}
          SIGNORE_SIGNER: ${{ secrets.SIGNORE_SIGNER }}

